SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SENDER_EMAIL=your_email@gmail.com
SENDER_PASSWORD=your_app_password
RECEIVER_EMAIL=your_email@gmail.com

.venv/bin/python run_pipeline.py --setup --amazon-url "https://www.amazon.com/s?k=" --seller-login-url "https://sellercentral.amazon.com" --seller-url "https://sellercentral.amazon.com/product-search?ref_=myp_ps" --merchant-name "Shudhit" --merchant-country "United States"